@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
    color: #f59e0b !important;
}

a.active::before {
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.map-marker{
    margin-top: -35px;
    background: linear-gradient(#f59e0b, #ef4444);
    /* color: rgb(255 255 255) !important; */
    padding: 4px;
    border-radius: 0.7rem;
}

.whats {
    background-color: #25d366; /* Verde predominante do WhatsApp */
    color: #fff; /* Texto em branco para contraste */
    padding: 12px; /* Adapte o preenchimento conforme necessário */
    text-align: center;
    font-size: 18px;
    border-radius: 40px;
    animation: pulse 1.5s infinite; /* Adiciona a animação de pulsação */
}

.MuiPaper-root{
     background-color: rgb(0, 0, 0) !important;
     color: white !important;
}

.MuiTypography-colorTextSecondary{
    color: white !important;
}

.MuiDialogContentText-root{
    margin-top: 1rem !important;
}

.card-slider-item {
    height: 300px; /* Ajuste a altura desejada */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Isso centraliza verticalmente o título */
  }
  
  .card-slider-item h6 {
    margin-bottom: 10px; /* Espaço abaixo do título */
  }

  .center-div{
    justify-content: center !important;
    text-align: center !important;
    align-itens: center !important;
  }

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.border-4{
    /* border-radius: 4rem; */
    border-image: linear-gradient(90deg, rgba(245,158,11,1) 0%, rgba(239,68,68,1) 80%);
    border-image-slice: 1;
}
